---
{{{ fileInfo.package }}}: minor
---

# Published {{ fileInfo.timestamp }} {{! transform to real data }}
by {{ triggeredBy.handle }}

{{#description}}
{{ description }}

{{/description}}
## Component updates

{{#changes.createdComponents}}
### [{{name}}](https://www.figma.com/file/{{file_key}}?node-id={{node_id}})
Created by {{ lastModifiedBy.handle }}

![Thumbnail for {{name}}]({{thumbnailUrl}})
{{/changes.createdComponents}}

{{#changes.modifiedComponents}}
### [{{name}}](https://www.figma.com/file/{{file_key}}?node-id={{node_id}})
Modified by {{ lastModifiedBy.handle }}

![Thumbnail for {{name}}]({{thumbnailUrl}})

{{/changes.modifiedComponents}}
{{#changes.deletedComponents}}
### {{name}}
Removed by {{ lastModifiedBy.handle }}

{{/changes.deletedComponents}}
## Style updates
{{#changes.createdStyles}}
### [{{name}}](https://www.figma.com/file/{{file_key}}?node-id={{node_id}})
Created by {{ lastModifiedBy.handle }}

{{/changes.createdStyles}}
{{#changes.modifiedStyles}}
### [{{name}}](https://www.figma.com/file/{{file_key}}?node-id={{node_id}})
Modified by {{ lastModifiedBy.handle }}

{{/changes.modifiedStyles}}
{{#changes.deletedStyles}}
### {{name}}
Removed by {{ lastModifiedBy.handle }}
{{/changes.deletedStyles}}